

<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-840">
  <div class="cs-container">
    <!-- Logo Group -->
    <div class="cs-logo-group">
      <a aria-label="go back to home" class="cs-logo" href="">
        <img
          class="cs-logo-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/img/alamo-web-design-san-antonio-tx.png"
          alt="logo"
          width="240"
          height="32"
        />
      </a>
      <p class="cs-text">cameron@alamowebdesigns.com </br>(951) 941-8193</p>
      <div class="cs-social">
        <a class="cs-social-link" aria-label="visit facebook profile" href="">
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fface-grey1.svg"
            alt="facebook"
            width="11"
            height="11"
          />
        </a>
        <a class="cs-social-link" aria-label="visit twitter profile" href="">
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Finstragm-grey3.svg"
            alt="twitter"
            width="6"
            height="11"
          />
        </a>
        <a class="cs-social-link" aria-label="visit instagram profile" href="">
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ftwitter-grey1.svg"
            alt="instagram"
            width="11"
            height="11"
          />
        </a>
      </div>
    </div>
    <!-- Links -->
    <div class="cs-ul-wrapper">
      <span class="cs-header">Navigation</span>
      <ul class="cs-ul cs-ul-1">
        <li class="cs-li">
          <a class="cs-link" href="">Home</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">About</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Services</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Portfolio</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Contact</a>
        </li>
      </ul>
    </div>
    <div class="cs-ul-wrapper">
      <!-- Contact Info -->
      <span class="cs-header">Services</span>
      <ul class="cs-ul">
        <li class="cs-li">
          <a class="cs-link" href="">Web Design</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Website Maintenance</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">SEO Services</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Content Creation</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Logo Design</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="cs-bottom">
    <span class="cs-credit">
      © Copyright 2024
      <a href="" class="cs-credit-link" target="_blank">Alamo Web Designs</a>
    </span>
    <div class="cs-bottom-links">
      <a href="" class="cs-bottom-link">Privacy Policy</a>
      <a href="" class="cs-bottom-link">Terms Of Use</a>
    </div>
  </div>
</footer>
