<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer>
  <img
    aria-hidden="true"
    class="footer-img light-mode-svg"
    src="/assets/img/footer-swoosh.svg"
    alt=""
  />
  <img
    aria-hidden="true"
    class="footer-img dark-mode-svg"
    src="/assets/img/footer-swoosh-dark.svg"
    alt=""
  />
  <div class="container">
    <div class="flex-group">
      <div class="dark-mode-group">
        <div aria-hidden="true" class="light">
          <div class="wire"></div>
          <div class="triangle"></div>
          <div class="bulb"></div>
        </div>
        <!--SVG Light-->
        <button class="dark-mode-button" aria-label="dark mode toggle">
          <span aria-hidden="true" class="dark-toggle">
            <span class="DTspan"></span>
          </span>
        </button>
        <p>SWITCH TO DARK MODE</p>
      </div>
      <div class="footer-item image-box">
        <img
          class="footer-logo mobile-display"
          src="/assets/img/alamo-web-design-san-antonio-tx.png"
          alt="Alamo web designs logo"
          onclick="location.href='/'"
          height="50"
        />
        <img
          class="footer-logo desktop-display"
          src="/assets/img/alamo-web-design-san-antonio-tx.png"
          alt="Alamo web designs logo"
          onclick="location.href='/'"
          height="50"
        />
        <div aria-hidden="true" class="neon" id="footer-neon">
          <span>A</span>
          <span>f</span>
          <span>t</span>
          <span>e</span>
          <span>r</span>

          <span>D</span>
          <span>a</span>
          <span>r</span>
          <span>k</span>
        </div>
        <a href="mailto:cameron@alamowebdesigns.com"
          >cameron@alamowebdesigns.com</a
        >
        <a href="tel:951-941-8193">(951) 941-8193</a>
      </div>
      <div class="footer-item">
        <h2>Navigation</h2>
        <div aria-hidden="true" class="footer-line"></div>

        <a class="link" href="/index">Home</a>
        <a class="link" href="/about">About</a>
        <a class="link-long" href="/services">Services</a>
        <a class="link-long" href="/index#portfolio">Portfolio</a>
        <a class="link-long" href="/contact">Contact</a>
      </div>

      <div class="footer-item">
        <h2>Services</h2>
        <div aria-hidden="true" class="footer-line"></div>
        <p>Web Design</p>
        <p>Website Maintenance</p>
        <p>SEO Services</p>
        <p>Content Creation</p>
        <p>Logo Design</p>
      </div>
    </div>
  </div>
  <div class="branding">
    <p>Copyright &copy; 2024 | Alamo Web Designs | All Rights Reserved</p>
  </div>
</footer>
