 <div class="recent-posts">
    <p class="popular">Popular Posts</p>

    {%- for post in collections.featured | reverse -%}
    


    <div class="recent-posts__item">
        <img
          src="{{ post.data.image }}"
          alt="{{ post.data.imageAlt }}"
          width="60"
          height="60"
          decoding="async"
        />
        <div class="recent-posts__item__content">
            <h2><a href='{{ post.url }}'>{{ post.data.blogTitle }}</a></h2>
            <p>{{ post.data.author}}</p>
            <p>{{ post.date | postDate }}</p>
        </div>
    </div>

        {%- endfor -%}
  

    <button class="button-solid home" onclick="location.href='../recent-posts.html'" type="button">
        Blog Home
    </button>
    <button class="button-solid" onclick="location.href='https://www.paypal.com/paypalme/oakharborweb'" type="button">
        Leave a Tip $
    </button>

    <h3 class="heading">Introducing CodeStitch!</h3>
    <p class="newsletter-p">Are you a developer? My team and I created an HTML and CSS only component library called CodeStitch with 500+ designs and variations, no libraries or frameworks, and we're inviting you to try it for free before we officially launch.</p>
    <a href="https://codestitch.app" class="button-solid" target="_blank">Try CodeStitch For Free</a>

    <br><br>
    <h3 class="heading">YOUTUBE</h3>
    <p class="newsletter-p">Job shadow me on my youtube channel to watch as I build real client's websites mobile first in just html and css and explain everything I do and why. Great for beginners and experienced developers alike.</p>
    <button class="button-solid" onclick="location.href='https://youtube.com/playlist?list=PLMPdeA59PPg2Cbd3cul0wFOY2KCbb4IID'" type="button">
        Visit Youtube
    </button>
    
</div>