<!DOCTYPE html>
<html lang="en">


    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

      <meta name="description" content="{{ description }}">

    <meta
      name="keywords"
      content="small business web designer usa, small business web developer usa, web developer near me usa, affordable web design usa, affordable business website usa, 
    web design agency usa, affordable web design agency for small businesses, custom web development usa, web design ageency, web design services usa, website designing compnay usa"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#43b7ff" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#333333">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#333333">

    <meta
      property="og:title"
      content="Small Business Web Design + Development"
    />
    <meta
      property="og:description"
      content="No page builders or WordPress - We offer 100% hand-coded websites with superior results starting at $150/mo."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.alamowebdesign.com/" />
    <meta property="og:image" content="https://i.imgur.com/tVBmu4y.jpg" />
    <meta
      property="og:image:secure_url"
      content="https://i.imgur.com/tVBmu4y.jpg"
    />

    <link rel="canonical" href="https://www.alamowebdesign.com/" />

    <!-- CSS -->
    <link rel="preload" as="image" href="{{ preloadImg }}"/>

    <!-- Loading in page specific CSS sheets from css block -->
    <link rel="stylesheet" href="/css/critical.css"/>
    <link rel="stylesheet" href="{{ mainCSS }}">
    <link rel="stylesheet" href="{{ preloadCSS }}">

    <!-- jQuery -->
    <script
      defer
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>

     <title>
            {% if page.url == '/'%}
                {{ client.name }} | {{ tagTitle }} | {{ client.address.city }}
            {% else %}
                {{ tagTitle }} | {{ client.name }}
            {% endif %}
        </title>
  </head>
    <body>
        <!--Screen reader skip main nav-->
        <a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>

        {% include "header.html" %}
        <div>{{ content | safe }}</div>
        {% include "footer.html" %}

        <script defer src="/assets/js/app.js"></script>
    <script>
      const bannerCloseButton = document.querySelector(
        '#beta-form #beta-submit'
      );
      const bannerSubmitButton = document.querySelector(
        '#beta-form #close-submit'
      );
      const banner = document.querySelector('.banner');
      let buttonClosed = localStorage.getItem('buttonClosed');

      bannerSubmitButton.addEventListener('click', () => {
        banner.classList.add('close');
        localStorage.setItem('buttonClosed', 'true');
      });
      if (buttonClosed == 'true') {
        banner.classList.add('close');
      }
    </script>

    </body>
</html>